@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    color: #333333;
}

.navbar{
    padding: 2.2rem;
}

.navbar-brand{
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.navbar-brand:hover{
    font-style: italic;
}

.navbar-nav li{
    padding: 0rem 0.7rem;
}

.nav-link{
    font-size: 1.2rem;
    font-family: 'Raleway', sans-serif;
}

.nav-item{
    text-transform: uppercase;
}

.tw,
.in,
.yt{
    color: #2C2F35;
}

.fa-twitter:hover,
.fa-instagram:hover,
.fa-youtube:hover{
color: #c9c9c9;
}

.j1{
    background: url("/Asset/image/bg.jfif");
    height: 46rem;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0 90%);
}

.display-4{
    color: white;
    position: relative;
    margin-top: 15rem;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    font-size: 3.2rem;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
}

.j2{
    background-color: white;
    /* margin: 6rem 14rem; */
}

.j2 p{
    font-size: 2.3rem;
}

.par{
    font-size: 1.2rem;
    padding: 10px;
}

.btn-primary{
    background-color: #E55C5C;
    border: 1px solid #E55C5C;
}

.btn-primary:hover{
    background-color: #EA6E6E;
    border: 1px solid #EA6E6E ;
}

.card-title{
    font-size: 2.1rem;
}

.card-text{
    font-size: 1.1rem;
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
}

.card{
    border: none;
}

.small-div{
    margin-top: 10rem;
}

footer{
    background-color: #3f3f3f;
    color: #d5d5d5;
    padding-top: 2rem;
}

hr.light{
    border-top: 1px solid #d5d5d5;
    width: 75%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}
hr.light-last{
    width: 100%;
    border-top: 1px solid #d5d5d5;
    margin-top: .8rem;
    margin-bottom: 1rem;
}

@media (min-width: 1200px) {
    .big-div{
        margin: 0rem 15rem;
    }
}

@media (max-width: 1200px) {
    .j2{
        margin: 0rem;
    }
}